
#renderCanvas {
    width: 70%;
    touch-action: none;
    border: 1px solid black;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #444;
  border-top:6px solid #333;
}

.drop-up {
    top: auto;
    bottom: 100% !important;
}
