
#renderCanvas {
    width: 70%;
    margin-left: 15%;
    touch-action: none;
    border: 1px solid black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.drop-up {
    top: auto;
    bottom: 100% !important;
}
